<div id="receipt">
  <ul id="cartList">
  </ul>
</div>
<button id="purge" type="submit">Blow this cart away!</button>

<script>
  $(document).ready();
  let p = document.getElementById("purge");
  let cartList = document.getElementById("cartList");
  let listText = "";
  let listCont = [];
  let listTot = 0;
  //console.log({{{json purchases}}})
  //console.log({{{json groceries}}})
  let cartItems = {{{json purchases}}}
  let inventory = {{{json groceries}}}
  
  for (let i=0; i < cartItems.length; i++) {
    for (let x=0; x < inventory.length; x++) {
      if (cartItems[i].grocery_id === inventory[x].id){
        let item = {
          id: inventory[x].id,
          name: inventory[x].name,
          amt: cartItems[i].amt,
          price: (inventory[x].price * cartItems[i].amt)
        }
        listCont.push(item);
        listTot += item.price
      }
    }
  }
  if(listCont.length === 0){
    cartList.innerHTML = "Your cart is empty!"
  }else{
  //string.concat doesn't change the initial string. Going to have to find another way to pull this off.
  //ok, used plusEquals to append everything together. However early testing of the submit buttons has revealed that I have to build every item as an individual form. Need to rewrap them as forms within list items.
  //booyah
  listCont.forEach(object => listText += ("<li> <form class='cartItem' id='" + object.id + "'>" + object.name + " x " + "<input type='number' class='amt' min='1' max='" + object.amt + "' value='" + object.amt + "'/>" + " : " + object.price + "<button class='btn btn-primary' type='submit'><i class='fas fa-times-circle'> Remove </i></button></form></li>"))
  listText += "<li id='total'> Total: " + listTot + "</li>"
  cartList.innerHTML = listText;}
</script>