<h1>Well, this is a start.</h1>

<div class="row">
  <div class="col">
  <a href="/produce">
    <div class="card" style="width: 18rem;">
      <div class="imgCont d-flex">
        <img class="card-img-top my-auto" src="/images/produce.jpg" alt="Produce">
      </div>
      <div class="card-body">
      <h5 class="card-title">Produce</h5>
      </div>
    </div>
  </a>
  </div>

  <div class="col">
  <a href="/dairy">
    <div class="card" style="width: 18rem;">
      <div class="imgCont d-flex">
        <img class="card-img-top my-auto" src="/images/dairy.jpg" alt="Dairy">
      </div>
      <div class="card-body">
      <h5 class="card-title">Dairy</h5>
      </div>
    </div>
  </a>
  </div>

  <div class="col">
  <a href="/meat&seafood">
    <div class="card" style="width: 18rem;">
      <div class="imgCont d-flex">
        <img class="card-img-top my-auto" src="/images/Meat-poultry-seafood.jpg" alt="Meat & seafood">
      </div>
      <div class="card-body">
      <h5 class="card-title">Meat & seafood</h5>
      </div>
    </div>
  </a>
  </div>
</div>

<div class="row">
  <div class="col">
  <a href="/pantry">
    <div class="card" style="width: 18rem;">
      <div class="imgCont d-flex">
        <img class="card-img-top my-auto" src="/images/pantry.jpg" alt="Pantry">
      </div>
      <div class="card-body">
      <h5 class="card-title">Pantry</h5>
      </div>
    </div>
  </a>
  </div>

  <div class="col">
  <a href="/bakery">
    <div class="card" style="width: 18rem;">
      <div class="imgCont d-flex">
        <img class="card-img-top my-auto" src="/images/bakery.jpg" alt="Bakery">
      </div>
      <div class="card-body">
      <h5 class="card-title">Bakery</h5>
      </div>
    </div>
  </a>
  </div>

  <div class="col">
  <a href="/frozen">
    <div class="card" style="width: 18rem;">
      <div class="imgCont d-flex">
        <img class="card-img-top my-auto" src="/images/frozen.jpg" alt="Frozen">
      </div>
      <div class="card-body">
      <h5 class="card-title">Frozen</h5>
      </div>
    </div>
  </a>
  </div>
</div>