<div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
<form>
  <label for="#email">Email: </label>
  <input id="email" type="email" name="Email">
  <label for="#password">Password: </label>
  <input id="password" type="password" name="Password">
  <button type="submit" id="submit">Submit</button>
</form>
<p>Don't have an account? <a href="/signup">Sign Up</a> here!
</p>
</div>
</div>
</div>