body {
  background-image: url("/images/supermarket_main.jpg");
  background-repeat: no-repeat;
  /* background-position: center center; */
}

.imgCont {
  width: 286px;
  height: 286px;
}

img {
  background-color: white;
}

#layer {
  background-color: rgba(173, 216, 230, 0.7);
}

.row {
  justify-content: center;
  align-content: center;
}
